.privacy-container {
  margin-top: 50px;
  padding-inline: 5vh;
  padding-bottom: 5vh;
}
.para1 {
  margin-top: 10px;
  font-size: 18px;
}
.intro {
  margin-top: 30px;
  font-weight: 700;
  font-size: 21px;
}
