.ReactModalPortal {
  z-index: 10 !important;
}
.passwordWrapper,
.loginPasswordWrapper {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
}
.eyeIcon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translate(0, -75%);
  cursor: pointer;
}
.passwordWrapper > input,
.passwordWrapper > p,
.passwordWrapper > select,
.forgotPasswordEmail input {
  width: 100%;
  padding: 15px;
  background: transparent;
  border: 1px solid #000;
  font-size: large;
}
.passwordWrapper > input,
.passwordWrapper > p {
  margin-bottom: 15px;
}
.loginPasswordWrapper > input {
  width: 100%;
  padding: 15px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000;
}
.passwordWrapper > input::placeholder {
  color: #555;
  font-size: large;
}
.passwordWrapper > select {
  margin-bottom: 15px;
}
.passwordWrapper > input:focus,
.passwordWrapper > select:focus,
.loginPasswordWrapper > input:focus {
  border: none;
  outline: none;
  border: 1px solid #000;
}
.loginPasswordWrapper > input:focus {
  border: none;
  border-bottom: 1px solid #000;
}
.t-a-c {
  text-align: center;
}
.p-i-2_5 {
  padding-inline: 2.5vw;
}
.pb-10 {
  padding-block: 10px;
}

.gap-1 {
  gap: 1rem;
}
.bb-light {
  border-bottom: 1px solid #aaa;
}
.loader {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
