.myOrdersPage {
  width: 100vw;
  max-width: 100%;
  min-height: 50vh;
  padding: 0 2.5%;
  box-sizing: border-box;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.no-orders-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.2rem;
  color: #888;
}
#myOrdersHeading {
  text-align: center;
  font: 400 1.2vmax "Poppins";
  padding: 0.5vmax;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  transition: all 0.5s;
  background-color: rgb(44, 44, 44);
}

.myOrdersTable {
  background-color: white;
}

.myOrdersTable div {
  font: 300 1vmax "Apercu";
  color: rgba(0, 0, 0, 0.678);
  border: none;
  text-align: center;
}

.myOrdersTable a {
  color: rgba(0, 0, 0, 0.527);
  transition: all 0.5s;
}
.MuiDataGrid-menuIcon,
.MuiDataGrid-iconButtonContainer {
  display: none !important;
}
.MuiDataGrid-columnHeader {
  background-color: #333;
  padding: 1vmax !important;
}

.greenColor {
  color: #00d000 !important;
}

.redColor {
  color: red !important;
}

.MuiDataGrid-columnHeader div {
  color: rgb(255, 255, 255);
  font: 500 1.1vmax "Poppins" !important;
}

.MuiDataGrid-iconSeparator {
  display: none !important;
}

/* Make the table scrollable on smaller screens */
.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.downloadBtn {
  font-size: 18px;
  margin-right: 10px;
}

@media screen and (max-width: 600px) {
  .myOrdersPage {
    padding: 0;
    height: 93vh;
  }

  #myOrdersHeading {
    font: 400 10px "Poppins";
    padding: 4vw;
  }
  #myOrdersHeading svg {
    display: none;
  }

  .myOrdersTable div {
    font: 300 4vw "Poppins";
  }

  .MuiDataGrid-columnHeader {
    padding: 20px !important;
  }

  .MuiDataGrid-columnHeader div {
    font: 500 10px "Poppins" !important;
  }

  .MuiDataGrid-cell {
    font-size: 10px !important;
    padding: 4vw;
  }
}
