.Vidcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  position: relative;
}

.productVidWrapper {
  position: relative;
  width: 100%;
  margin-inline: 1.5vw;
}

.productVid {
  width: 100%;
  height: auto;
}
/* Big Play Button (Center) */
.playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  color: white;
  border: none;
  font-size: 30px;
  height: 80px;
  border-radius: 100%;
  width: 80px;
  cursor: pointer;
  transition: 0.3s;
}
.playButton svg,
.pauseButton svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.playButton:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

/* Pause Button (Bottom Left) */
.pauseButton {
  position: absolute;
  bottom: 20px;
  left: 15px;
  background: #000;
  color: white;
  border: none;
  font-size: 25px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s;
}
