.productVidWrapper {
  width: 100%;
}
.Vidcontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* z-index: -100; */
  position: relative;
}
audio::-webkit-media-controls-timeline,
video::-webkit-media-controls-timeline {
  display: none;
}
video {
  width: 100%;
}
