.updateProfileContainer {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-size: 80%;
  margin-top: 10vh;
}
.updateProfileBox {
  width: 70%;
  height: 80%;
  background: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  overflow: hidden;
  box-sizing: border-box;
}
.profile-pic-select {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 100px;
}
.signup-heading:hover {
  letter-spacing: 1px;
}
.updateProfileForm {
  margin-top: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.updateProfileForm {
  position: absolute;
  width: 90%;
  padding-inline: 2vw;
}
.updateHead {
  font-size: 25px;
  text-transform: uppercase;
}
.email,
.password,
.name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.emailText,
.passwordText,
.nameText {
  text-transform: uppercase;
  font-family: "Poppins";
  color: #000;
  letter-spacing: 1px;
  font-weight: 700;
}
.notice {
  text-align: center;
}
.updateProfileName,
.updateProfileEmail,
.updateProfilePassword {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 10px;
}
.updateProfilePassword > input,
.updateProfileEmail > input,
.updateProfileName > input {
  width: 100%;
  padding: 8px 15px 10px 15px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000;
  font-size: large;
}
.updateProfilePassword > input,
.updateProfileEmail > input,
.updateProfileName > input {
  margin-bottom: 15px;
}

.updateProfileEmail > input::placeholder,
.updateProfilePassword > input::placeholder {
  color: #555;
  font-size: large;
}

.updateProfileName > input:focus,
.updateProfileEmail > input:focus,
.updateProfilePassword > input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
}

.updateProfileBtn {
  width: 100%;
  margin-top: 20px;
  padding-block: 20px;
  font-size: 18px;
  font-weight: 300;
  border: none;
  border-radius: 8px;
  background: #222;
  font-family: "Apercu";
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.updateProfileBtn:hover {
  background: #333;
}

#updateprofileImage {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
#updateprofileImage > input::file-selector-button {
  cursor: pointer;
  width: 80%;
  z-index: 2;
  border: none;
  margin: 0%;
  transition: all 0.5s;
  height: 50px;
  margin-inline: 10px;
  color: #fff;
  background-color: #333;
  border-radius: 10px;
}

#updateprofileImage > input {
  width: 100%;
}

#updateprofileImage > input::file-selector-button:hover {
  background-color: #555;
}
@media screen and (max-width: 700px) {
  .updateProfileBox {
    height: 100vh;
    width: 100%;
    margin-top: 0;
    border-radius: 20px 20px 0 0;
  }
}
