.payment-container {
  background: #000;
  padding-bottom: 100px;
  min-height: 100vh;
  padding-top: 50px;
  flex-direction: column;
}

.app-container {
  width: 90%;
  background-image: linear-gradient(#580e8f, #9200ff);
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
}
.top-box {
  height: 150px;
  background-color: #9100fb;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  text-align: center;
  padding-top: 20px;
  color: #fff;
}

.left-icon {
  float: left;
  margin-left: 30px;
}

.payment-option {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.payment-radio {
  display: none; /* Hide the default radio input */
}
.bottom-box {
  width: calc(100% - 60px);
  height: 30px;
  background-color: #9100fb;
  margin-left: 30px;
  border-radius: 10px;
}
.payment-option-btn {
  position: relative;
  padding-left: 25px;
  font-size: 16px;
  cursor: pointer;
  color: black;
  font-weight: 500;
}

.payment-option-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  transition: all 0.3s ease;
}

.payment-radio:checked + .payment-option-btn::before {
  background-color: black;
  border: 2px solid white;
}

.right-icon {
  float: right;
  margin-right: 30px;
}

.middle-box {
  height: 150px;
  background-image: linear-gradient(#580e8f, #9200ff);
  margin: -70px 30px 20px;
  text-align: center;
  font-size: 12px;
  border-radius: 10px;
  color: #fff;
}

.middle-box h1 {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 50px;
  font-weight: normal;
}

.middle-box h1 span {
  font-size: 20px;
  margin-left: 5px;
  bottom: 18px;
  position: relative;
}

.payment-option-btn {
  color: #fff;
  border: none;
  cursor: pointer;
}
.card-details {
  width: calc(100% - 60px) !important;
  margin-left: 30px;
  margin-block: 20px;
  background: linear-gradient(#9200ff, #580e8f);
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
}
.GT-check {
  flex-direction: column;
  align-items: end;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}
.GT-check div {
  display: flex;
  gap: 15px;
}
.GT {
  justify-content: flex-end;
  padding-block: 10px;
  font-size: 20px;
  font-weight: bold;
}
.paymentBtn {
  background: #000;
  color: #fff;
  width: calc(100% - 60px);
  margin-left: 30px;
  margin-bottom: 20px;
  padding-block: 10px;
  border-radius: 10px;
}
