.payment-container {
  background: #000;
  padding-bottom: 100px;
  min-height: 100vh;
  padding-top: 50px;
  flex-direction: column;
}

.app-container {
  width: 90%;
  background-image: linear-gradient(#004704, #006605);
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
}
.top-box {
  height: 150px;
  background-color: #7be382;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  text-align: center;
  padding-top: 20px;
  color: #fff;
}

.left-icon {
  float: left;
  margin-left: 30px;
}

.payment-option {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.payment-radio {
  display: none; /* Hide the default radio input */
}
.bottom-box {
  width: calc(100% - 60px);
  padding: 15px 10px;
  background-color: #26cc00;
  margin-left: 30px;
  border-radius: 10px;
  gap: 30px;
}
.payment-option-btn {
  position: relative;
  padding-left: 25px;
  font-size: 16px;
  cursor: pointer;
  color: black;
  font-weight: 500;
}

.payment-option-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff0000;
  transition: all 0.3s ease;
}
.payment-radio:checked + .payment-option-btn::before {
  background-color: #00ff00;
}
.right-icon {
  float: right;
  margin-right: 30px;
}

.middle-box {
  background-image: linear-gradient(#009c1a, #26cc00);
  margin: -70px 30px 20px;
  text-align: center;
  font-size: 12px;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.middle-box h1 {
  font-size: 50px;
  font-weight: normal;
}

.middle-box h1 span {
  font-size: 20px;
  margin-left: 5px;
  bottom: 18px;
  position: relative;
}

.payment-option-btn {
  color: #fff;
  border: none;
  cursor: pointer;
}
.card-details {
  width: calc(100% - 60px) !important;
  margin-left: 30px;
  margin-block: 20px;
  background: linear-gradient(#26cc00, #009c1a);
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
}
.GT-check {
  flex-direction: column;
  align-items: end;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}
.GT-check div {
  display: flex;
  gap: 15px;
}
.GT {
  justify-content: flex-end;
  padding-block: 10px;
  font-size: 20px;
  font-weight: bold;
}
.GT-check div p {
  font-weight: 700;
  letter-spacing: 0.5px;
}
.paymentBtn {
  background: #198900;
  color: #fff;
  width: calc(100% - 60px);
  margin-left: 30px;
  margin-bottom: 20px;
  padding-block: 10px;
  border-radius: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.paymentBtn:hover {
  background: #004704;
  transition: all 0.3s ease;
}
.payment_method {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
}
.payment_method label {
  color: #000;
}
@media screen and (max-width: 500px) {
  .card-details h3 {
    font-size: 16px;
  }
  .card-details p {
    font-size: 14px;
  }
  .GT-check div p,
  .GT-check div span {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .payment_method label {
    font-size: 14px;
  }
  .payment-option-btn {
    padding-left: 20px;
  }
}
@media screen and (max-width: 380px) {
  .payment_method label {
    font-size: 9px;
  }
}
