.productCard {
  width: 350px;
  height: 510px;
  padding-bottom: 20px;
  border: 1px solid #fff;
  position: relative;
  overflow: hidden;
}
.name-mrp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7vw 1vw 0 1vw;
}
.ratings {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  padding: 0.5vw 1vw 1vw 1vw;
}

.users-review {
  color: #fff;
  font-size: 12px;
}
.product-Name {
  font-weight: 800;
  letter-spacing: 0;
  text-transform: uppercase;
  line-height: 1;
  font-size: 1.2vmax;
  width: 90%;
  /* line-clamp: 2; */
  /* -webkit-line-clamp: 2; */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.productMrp {
  text-decoration: line-through;
  font-size: 15px;
  text-align: end;
  color: #999;
  font-weight: 500;
  line-height: 1;
}
.productPrice {
  font-weight: 600;
  line-height: 1.5;
  font-size: 20px;
}
.pc-carousel {
  overflow-x: auto;
  display: flex;
  width: 350px;
  cursor: grab;
  scroll-snap-type: x;
  scroll-behavior: smooth;
}
.pc-innerCarousel {
  width: 350px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  user-select: none;
}
.pcImg {
  width: 350px;
  height: 400px;
  object-position: top;
  object-fit: cover;
  pointer-events: none;
  border-bottom: 1px solid #fff;
}
.product-cart {
  position: absolute;
  top: 5px;
  right: 5px;
}
.stars {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 5px;
}
.cartOutline,
.cartFill {
  height: 30px;
}
.product-cart button {
  background: none;
  display: grid;
  place-items: center;
  cursor: pointer;
  border: none;
}
.linkRemove {
  text-decoration: none;
}

@media screen and (max-width: 850px) {
  .productName {
    font-size: 2.5vmax;
  }
  .ratings {
    margin: 0 5px 5px 5px;
  }
  .name-mrp {
    padding-inline: 2vw;
  }
}
@media screen and (max-width: 768px) {
  .productCard,
  .pc-carousel,
  .pc-innerCarousel {
    width: 300px;
  }
  .productCard {
    padding-bottom: 0;
    height: auto;
  }
}
