.shippingContainer {
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 30px 0 100px 0;
  background: #000;
  color: #fff;
}
.shippingBox {
  width: 75%;
  margin-top: 70px;
}
.process {
  margin-block: 15px;
  width: 100%;
}
.shippingForm .passwordWrapper p {
  border: 1px solid #fff;
}
.MuiStepLabel-labelContainer p {
  color: #fff;
}
.shippingHeading {
  text-align: center;
  text-transform: uppercase;
}
.shippingForm {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.shippingForm {
  width: 100%;
  padding-inline: 2vw;
}
.shippingForm input[type="text"],
.shippingForm input[type="tel"],
.shippingForm select,
.shippingForm select:focus {
  color: #fff;
  border: 1px solid #fff;
}
.addressText,
.countryText,
.contactText,
.stateText,
.cityText,
.pincodeText {
  text-transform: uppercase;
  font-family: "Poppins";
  color: #fff;
  font-weight: 700;
}
.notice {
  text-align: center;
}
.shippingAddress,
.countryContainer,
.stateContainer,
.cityContainer,
.pinCodeContainer,
.contactContainer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 10px;
}
.passwordWrapper select .option {
  background-color: #000;
  color: #fff;
}
.option:hover {
  background: #f0f0f0;
}

.default > input {
  cursor: default;
  text-transform: uppercase;
  font-weight: 800;
}
.passwordWrapper > input {
  text-transform: uppercase;
}
.backBtnShipping {
  position: fixed;
  top: 15px;
  left: 15px;
  text-decoration: none;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  background: #fff;
}
.backBtn {
  font-size: 30px;
  color: #000;
}
.shippingBtn {
  width: 100%;
  margin-top: 20px;
  padding-block: 20px;
  font-size: 18px;
  font-weight: 300;
  border: none;
  border-radius: 8px;
  background: #222;
  font-family: "Apercu";
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.shippingBtn:hover {
  background: #333;
}

.MuiStepConnector-line {
  display: none !important;
}
select option {
  color: #fff;
  background: #000;
}
.MuiStepConnector-root {
  height: 1px;
  background-color: #ffffff;
  margin-top: 10px;
  margin-inline: 10px;
}

.MuiStepConnector-active,
.MuiStepConnector-completed {
  background: #fff;
}
.Mui-completed svg {
  background: linear-gradient(95deg, #69fb61 0%, #40e946 50%, #14ca00 100%);
  height: 40px;
  border-radius: 100px;
  padding: 10px;
  width: 50px;
  height: 50px;
  color: #123b00;
}
.progress {
  font-size: 40px;
}

@media screen and (max-width: 700px) {
  .shippingBox,
  .shippingForm {
    width: 100%;
  }
}
