.off-btn {
  background: #000;
  color: #fff;
  padding: 5px 10px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  margin-right: 2%;
  border-radius: 5px;
}
.modal-open {
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  max-height: 80vh;
  overflow-y: scroll;
}
.off {
  color: #000;
}
.fabric-gsm {
  width: 70%;
  height: auto;
}
.pd-title {
  text-align: left;
  border-bottom: 1px solid #000;
  color: #000;
  padding-bottom: 10px;
}

.pd-data {
  text-align: left;
  margin-block: 20px;
  color: #000;
  max-width: 100%;
  overflow: hidden;
  word-wrap: break-word;
  white-space: normal;
  font-size: 20px;
}
@media screen and (max-width: 600px) {
  .modal-open {
    overflow-y: scroll;
    width: 95%;
  }
}
