.confirmOrderPage {
  display: flex;
  margin-top: 50px;
  width: 100%;
  margin-bottom: 100px;
}
.confirmContainer {
  background: #000;
  min-height: 110vh;
  padding-top: 20px;
  color: #fff;
}
.css-ahj2mt-MuiTypography-root {
  font-size: 2vmax;
}
.ShippingInfoContainer {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.uppercase {
  text-transform: uppercase;
}
.gap {
  gap: 5px;
}
.gap p {
  font-weight: 600;
}
.confirmshippingArea {
  width: 100%;
  padding-right: 5px;
}
.confirmshippingAreaBox > .gap {
  margin-bottom: 15px;
}
.confirmCartItems {
  padding-top: 20px;
}

.confirmCartItemsContainer > div {
  justify-content: center;
  margin: 2vmax 0;
  border-bottom: 1px solid lightgray;
  padding-block: 10px;
  width: 90%;
}
.confirmCartItemsContainer > div:first-child {
  border-top: 1px solid lightgray;
}
.confirmCartItemsContainer > div > img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.confirmCartItemsContainer > div > a {
  color: #fff;
  margin: 0 2vmax;
  width: 50%;
  text-decoration: none;
  font-family: "Futura LT Pro Book", sans-serif;
}
.orderConfirmContainer {
  width: 40%;
  border: none;
  border-left: 1px solid lightslategray;
}
.orderSummary01 {
  padding-inline: 2vw;
}

.orderSummary01 > p {
  text-align: center;
  font-family: "Apercu";
  border-bottom: 1px solid #fff;
  padding: 1vmax;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}

.orderSummary01 > div > div {
  display: flex;
  justify-content: space-between;
  margin: 2vmax 0;
}
.orderSummary01 > div > div > span {
  color: #fff;
}

.orderSummaryTotal {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #fff;
  padding: 2vmax 0;
}

.orderSummary01 > button {
  background: #222;
  color: white;
  width: 100%;
  padding: 20px 30px;
  border: none;
  margin: auto;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 8px;
  font-size: 18px;
}
.cartProductList {
  border-bottom: none;
}
.orderSummary01 > button:hover {
  background-color: #fff;
  color: #000;
}
.orderSummaryTotal span {
  font-weight: 700;
}

@media screen and (max-width: 850px) {
  .confirmOrderPage {
    flex-direction: column;
  }
  .ShippingInfoContainer,
  .orderConfirmContainer {
    width: 100%;
  }
  .orderConfirmContainer {
    margin-top: 20px;
    border-left: none;
  }
  .orderSummary01 {
    padding: 0;
  }
  .confirmCartItemsContainer > div {
    width: 100%;
  }
  .cProduct {
    width: 45%;
  }
}
@media screen and (max-width: 756px) {
  .confirmOrderPage {
    margin-bottom: 0;
    padding-bottom: 100px;
  }
}
