.displayHeader {
  width: 100%;
  display: flex;
  padding-top: 5vh;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #fff;
  padding-bottom: 5vh;
  padding-inline: 2.5vw;
}

.draggable-el {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: grab;
  position: absolute;
  z-index: 100;
}

.buyArt,
.wearArt {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}
.buyArt {
  font-weight: 700;
  font-size: 25px;
  line-height: 1;
}
.darkTheme {
  background: #222;
}
.hpWrapper {
  padding-inline: 2.5vw;
  flex-wrap: wrap;
  justify-content: space-around;
}
.productContainer {
  width: 100%;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-block: 5vh;
}
.cursor {
  mix-blend-mode: color-burn;
  height: 0;
  width: 0;
  border-radius: 50%;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}
.allProducts {
  width: 100%;
  padding-block: 50px;
}
.moreProducts {
  background: #fff;
  padding: 20px 30px;
  border-radius: 100px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  transition: all 0.3s ease;
}
.moreProducts:hover {
  background: #000;
  color: #fff;
}
@media screen and (max-width: 1200px) {
  .productContainer {
    justify-content: center;
  }
}
@media screen and (max-width: 400px) {
  .buyArt {
    font-size: 20px;
  }
}
