.loader {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #fff;
}

/*
  Set the color of the icon
*/
.loader svg path,
.loader svg rect {
  fill: #000;
}
