.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  background: #000;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 2vw 4vw;
  color: #fff;
}

.Info {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.rs,
.os,
.osLinks,
.rsLinks,
.others,
.details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 2vw 2vw 0;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

.anchor {
  text-decoration: none;
  letter-spacing: 0.5px;
  font-size: 14px;
  color: #fff;
  font-weight: 300;
}

.anchor:hover {
  text-decoration: underline;
}

.heading {
  font-size: medium;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: start;
  color: #a8a8a8;
}

.helpingHours,
.ph {
  font-weight: 300;
  font-size: small;
}

.socials {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 10px;
}

.icons {
  font-size: 30px;
  padding: 3px;
  margin-right: 15px;
  color: #fff;
}

.footerLogo {
  height: 50px;
}

.footerEnd {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.copyright {
  display: flex;
  align-items: flex-end;
  font-size: 14px;
  font-weight: 300;
}

.otherLinks {
  margin-left: -3vw;
}

@media screen and (max-width: 850px) {
  .otherLinks {
    margin-left: 0;
  }
  .wrapper {
    padding-block: 5vh;
  }
  .footerEnd {
    flex-direction: column;
    align-items: flex-start;
    margin-block: 2vh;
    margin-bottom: 50px;
  }
  .Info {
    flex-direction: column;
  }

  .footerLogo {
    margin-bottom: 10px;
  }
}
