.logo404 {
  height: 50px;
  width: auto;
  position: absolute;
  top: 20px;
  left: 30px;
}

.nfContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.nfImage {
  height: 50vh;
}

.nfHead {
  font-size: 50px;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: -1px;
  word-spacing: 10px;
}
.nfDesc {
  line-height: 1.2;
}
.Home {
  color: #fff;
  background: #000;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 50Q;
  margin-top: 20px;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  .nfImage {
    width: 100%;
    height: auto;
  }
  .nfHead {
    font-size: 1.7rem;
    padding-inline: 2.5vw;
  }
  .nfDesc {
    padding-inline: 2.5vw;
  }
}
