.pdCounter input:focus,
.size,
select:focus {
  outline: 0;
}
.atc-bn,
.bn,
.draggable-carousel,
.dropdown-btn,
.product-Detail {
  overflow: hidden;
}
.link,
.productLink {
  text-decoration: none;
}
:root {
  --size: 10px;
}
.sp_Hero {
  height: calc(100vh - 10vh);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.showcase_img,
.sp-details {
  justify-content: center;
  display: flex;
}
.sp-details {
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 13vh;
  left: 2vw;
}
.navigator {
  display: flex;
  align-items: center;
  font-size: 12px;
}
.stock-check {
  font-size: 14px;
}
.red {
  color: red;
}
.green {
  color: #00e900;
}
.sp-ratings {
  font-size: 12px;
}
.showcase_img_Container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.showcase_img {
  position: relative;
  height: calc(100vh - 20vh);
  align-items: center;
}
.product_img {
  position: absolute;
  height: 90vh;
  margin-top: -13vh;
}
.popupOverlay,
.sizeChartPopup {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sizeChartPopup {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.popupOverlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}
.popupContent {
  position: relative;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 90%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.closeButton,
.reviewBtn {
  position: absolute;
  cursor: pointer;
}
.popupContent img {
  max-width: 100%;
  max-height: 100%;
}
.closeButton {
  top: 10px;
  right: 10px;
  background: red;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.productTitle {
  font-size: 25px;
  color: #131313;
}
.product_title {
  font-size: 10vmax;
  text-align: center;
}
.pdCounter button,
.pdCounter input,
.price {
  font-size: 18px;
  color: #fff;
}
.btns {
  margin-top: -100px;
  width: 65vw;
  z-index: 5;
}
.priceAndSize {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.pdCounter,
.price,
.sizeContainer {
  display: flex;
  justify-content: center;
}
.priceContainer {
  width: 25%;
  height: 60px;
}
.atc-btn {
  height: 100%;
  width: 100%;
  background: 0 0;
  color: #fff;
  cursor: pointer;
}
.reviewBtn {
  top: 50%;
  transform: translate(0, -50%);
  right: 2vw;
  background: #fff;
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}
.h1,
.link,
.size {
  text-transform: capitalize;
}
.css-bdhsul-MuiTypography-root-MuiDialogTitle-root {
  font-family: "Futura LT Pro Book", sans-serif;
}
.writeReview {
  margin-top: 20px;
}
.reviewDialog {
  background: #00000041;
  backdrop-filter: blur(3px);
}
.atc,
.pdCounter,
.price {
  background: #000;
}
.MuiDialog-paper {
  width: 70%;
}
.submitDialogTextArea {
  border: 1px solid #000;
  padding-inline: 10px;
}
.price,
.size {
  padding: 10px 30px;
  letter-spacing: 1px;
}
.submitDialogTextArea:focus {
  border-bottom: 1px solid #000;
}
.price {
  border-radius: 100px;
  height: 100%;
  align-items: center;
  font-weight: bolder;
}
.pdCounter,
.sizeContainer {
  position: relative;
  max-height: 60px;
  width: 25%;
  border: 1px solid #000;
  border-radius: 100px;
  align-items: center;
  overflow: hidden;
}
.pdCounter button {
  height: 100%;
  width: 30%;
  background: 0 0;
  outline: 0;
  border: none;
  cursor: pointer;
}
.pdCounter input {
  height: 100%;
  width: 40%;
  background: 0 0;
  border: none;
  text-align: center;
  font-weight: 700;
}
.pdCounter [type="number"] {
  appearance: none;
  margin: 0;
  padding: 0;
  border: none;
  font-family: inherit;
  font-size: inherit;
}
.dropdown-btn::after,
.dropdown-btn::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
}
.pdCounter input[type="number"]::-webkit-inner-spin-button,
.pdCounter input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}
.size {
  width: 100%;
  font-weight: 900;
  font-size: 20px;
  border: none;
  border-radius: 100px;
  text-align: center;
  height: 100%;
}
select:focus {
  border: none;
}
.dropdown-btn {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  display: block;
  background: #fff;
  width: 25%;
  pointer-events: none;
}
.dropdown-btn::after,
.dropdown-btn::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dropdown-btn::before {
  border-bottom: var(--size) solid #000;
  top: 40%;
}
.dropdown-btn::after {
  border-top: var(--size) solid #000;
  top: 65%;
}
.size-option {
  background: #000;
  text-align: start;
  color: #fff;
}
.atc-bn {
  width: 100%;
  height: 60px;
  margin-top: 5px;
  border-radius: 100px;
  display: flex;
}
.atc,
.bn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.detailsButton,
.link {
  width: 100%;
  font-weight: bolder;
}

.bn {
  background: #fff;
  border: 1px solid #000;
  color: #000;
  border-radius: 0 100px 100px 0;
}
.link {
  text-align: center;
  font-size: 22px;
}
.detailsButton {
  height: 100%;
  background: 0 0;
  border: none;
  font-size: 25px;
}
.slider {
  height: 125vh;
  width: 100vw;
  background: #000;
}
@keyframes swipeLeft {
  0%,
  100% {
    margin-right: 0;
  }
  50% {
    margin-right: 20px;
  }
}
.slider-header {
  padding: 2vmax;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
}
.drag-arrow {
  color: #fff;
  font-size: 35px;
  transform: rotate(180deg);
  animation: 1s ease-in-out infinite forwards swipeLeft;
}
.h1 {
  color: #fff;
  font-size: xx-large;
  text-align: left;
}
.fcc,
.reviewHeading {
  text-transform: uppercase;
  z-index: 5;
}
.item {
  min-height: 40rem;
  min-width: 30rem;
  padding: 10px;
  position: relative;
}
.productZoom {
  position: absolute;
  font-size: 2.5rem;
  top: 20px;
  right: 20px;
  z-index: 100;
  color: #000;
}
.item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.inner-carousel {
  display: flex;
  margin-left: 10%;
}
.draggable-carousel {
  cursor: grab;
}
.product-Detail {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  position: relative;
}
.details-container {
  height: auto;
  width: 30%;
  position: relative;
}
.three-dimensional {
  height: auto;
  width: 100%;
  margin-top: -10vh;
}
.fcc {
  position: absolute;
  top: 15px;
  left: 15px;
}
.materials {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.click {
  position: absolute;
  top: 50px;
  left: 15px;
  z-index: 5;
}
.review-ratings {
  background: #111;
  color: #fff;
  justify-content: flex-start;
  gap: 10px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.review-ratings p {
  font-size: 3vmax;
  font-weight: 700;
}
.num-ratings {
  font-size: 14px;
  margin-left: 10px;
}
.materials span {
  height: 13px;
  width: 13px;
  border-radius: 100px;
  background: #999;
  box-shadow: 0 0 0 4px #000;
  cursor: pointer;
}
.materials span::before {
  content: "";
}
.materials span:first-child {
  position: absolute;
  top: 55%;
  left: -5px;
  animation: 1s ease-in-out infinite forwards pop;
}
.materials span:nth-child(2) {
  position: absolute;
  top: 55%;
  right: -5px;
  animation: 1s ease-in-out 0.3s infinite forwards pop;
}
.materials span:nth-child(3) {
  position: absolute;
  top: 85%;
  left: -5px;
  animation: 1s ease-in-out 0.5s infinite forwards pop;
}
@keyframes pop {
  0%,
  100% {
    height: 13px;
    width: 13px;
  }
  50% {
    height: 16px;
    width: 16px;
  }
}
.reviewHeading {
  font-size: 30px;
  font-family: "Futura LT Pro Book";
  text-align: left;
  padding: 2.5vw;
  background: linear-gradient(#222, #111);
  color: #fff;
}
.review-container {
  padding: 2vw 2vw 5vw;
  background: linear-gradient(#111 80%, #000);
}
.submit-review {
  padding: 10px 20px;
  border: none;
  background: #004aad;
  width: fit-content;
  color: #fff;
  font-size: 20px;
  border-radius: 100px;
}
.noReviews,
.submit-btn-wrapper {
  width: 100%;
}
.noReview-container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.noReviews {
  font-size: 24px;
  text-align: center;
  padding-block: 2rem;
}
.productLink {
  width: 24%;
}

@media screen and (max-width: 1000px) {
  .details-container {
    width: 50%;
  }
}
@media screen and (max-width: 860px) {
  .price,
  .size {
    font-size: 16px;
  }
  .dropdown-btn::after,
  .dropdown-btn::before {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  }
  .btns {
    width: 90vw;
  }
  .product_img {
    height: 70vh;
    margin-top: -130px;
  }
  .priceContainer,
  .sizeContainer {
    width: 35%;
    height: 50px;
  }
  .size {
    padding-inline: 20px;
  }
  .dropdown-btn {
    width: 30%;
  }
  .dropdown-btn::before {
    border-bottom: 8px solid #000;
    top: 40%;
  }
  .dropdown-btn::after {
    border-top: 8px solid #000;
    top: 60%;
  }
  .btns {
    margin-top: -180px;
  }
  .details-container {
    width: 60%;
  }
}
@media screen and (max-width: 618px) {
  .product_img {
    height: 60vh;
    margin-top: -90px;
  }
  .review-ratings {
    display: block;
  }
  .num-ratings {
    margin-left: 0;
    font-size: 12px;
  }
  .fcc {
    font-size: 20px;
  }
  .click {
    top: 45px;
  }
  .review-container {
    padding: 4vw;
  }
  .dropdown-btn::before {
    border-bottom: 6px solid #000;
  }
  .dropdown-btn::after {
    border-top: 6px solid #000;
  }
  .detailsButton {
    font-size: 20px;
  }
}
@media screen and (max-width: 415px) {
  .link {
    font-size: large;
  }
  .price,
  .size {
    padding: 8px auto;
  }
  .price {
    padding-inline: 10px;
  }
  .pdCounter,
  .priceContainer,
  .sizeContainer {
    width: 33%;
  }
  .pdCounter {
    height: auto;
    padding-inline: 5px;
  }
  .fcc {
    font-size: 16px;
  }
  .click {
    top: 35px;
  }
  .atc-bn {
    height: 50px;
  }
  .product_img {
    height: 58vh;
    width: auto;
    margin-top: -70px;
  }
  .product_title {
    display: none;
  }
  .slider {
    height: 130vh;
  }
}
@media screen and (max-width: 335px) {
  .product_img {
    height: 55vh;
    width: auto;
  }
  .fcc {
    font-size: 14px;
  }
  .click {
    font-size: 12px;
  }
}
.sizeImage button {
  background: 0 0;
  border: none;
  text-decoration: underline;
  font-family: Poppins, sans-serif;
  cursor: pointer;
}
