.forgotPasswordContainer {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 80%;
}
.forgotPasswordBox {
  width: 70%;
  height: 80%;
  background: #fff;
  border-radius: 10px;
  position: fixed;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.forgotPasswordForm {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 90%;
}
.updateHead {
  font-size: 25px;
  text-transform: uppercase;
}
.otpBlocks {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.otpBlocks input {
  height: 50px;
  width: 50px;
  border: 1px solid #000;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-align: center;
}
.forgotPasswordBtn {
  width: 100%;
  margin-top: 20px;
  padding-block: 20px;
  font-size: 18px;
  font-weight: 300;
  border: none;
  border-radius: 8px;
  background: #222;
  font-family: "Apercu";
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
.forgotPasswordEmail {
  width: 100%;
}
.forgotPasswordBtn:hover {
  background: #333;
}
.notice {
  text-align: left;
  margin-bottom: 15px;
}
@media screen and (max-width: 700px) {
  .forgotPasswordBox {
    height: 100vh;
    width: 100%;
    margin-top: 0;
    border-radius: 20px 20px 0 0;
  }
}
