.cartTitle,
.cartProductList,
.couponCode {
  border-bottom: 1px solid #5d5d5d;
}
.cartProductList {
  width: 100%;
  justify-content: space-between;
  padding-block: 2vw;
}
.cProduct {
  display: flex;
  gap: 20px;
  width: 60%;
}
.cartProductImg {
  object-fit: cover;
  border-radius: 8px;
}
.productName {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.stockRemaining {
  color: #aaa;
}

.counter,
.cartPrice-remove {
  width: 20%;
}
.counter {
  gap: 15px;
}
.counter input {
  height: 100%;
  width: 50px;
  background: transparent;
  text-align: center;
  color: #fff;
  font-size: 18px;
}
.counter input:focus {
  outline: none;
}
.counter [type="number"] {
  appearance: none; /* Remove default spin buttons */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  border: none; /* Remove default border */
}

/* Remove default arrow icons in Chrome, Safari, Edge, Opera */
.counter input[type="number"]::-webkit-outer-spin-button,
.counter input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
.minus,
.plus {
  padding: 5px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 19px;
}
.cartPrice-remove {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
.cartPrice {
  font-weight: 600;
  font-size: 20px;
}
.checkout {
  width: 100%;
  display: flex;
}
.cartItems {
  border-bottom: 1px solid #5d5d5d;
}
@media screen and (max-width: 600px) {
  .cProduct {
    width: 25%;
  }
  .counter input {
    width: 20px;
  }
  .counter {
    gap: 5px;
    margin-left: 10px;
  }
  .cartPrice {
    font-size: 16px;
  }
}
@media screen and (max-width: 400px) {
  .cartPrice {
    font-size: 14px;
  }
}
