.srContainer {
  min-height: 100vh;
  padding-block: 5vh;
  width: 100%;
}
.srHead {
  padding-inline: 10vh;
}
.srPara {
  padding: 2vh 10vh;
  font-size: 18px;
}
.spacing {
  padding-left: 20px;
}
@media screen and (max-width: 750px) {
  .srHead {
    padding-inline: 5vh;
  }
  .srPara {
    padding: 2vh 5vh;
  }
}
