.contact-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.contact-container {
  padding-inline: 5vw;
  padding-bottom: 5vw;
}

.contact-page-text {
  text-align: left;
  width: 75%;
  font-weight: 600;
  color: #222;
  letter-spacing: 1px;
  font-size: 10vw;
  line-height: 0.8;
  text-transform: capitalize;
  font-family: "Bebas Neue", sans-serif;
  padding-inline: 5vw;
}

.prjctgif {
  height: 18vh;
  margin-right: 10px;
}

.brief_us_wrapper {
  margin-top: 15vh;
}

.brief_us {
  font-size: 5vw;
  font-weight: 300;
}

.tagline_wrapper {
  font-size: 16px;
}

.tagline {
  font-size: 1.5vw;
}

.form {
  margin-top: 8vh;
  color: #222;
}

.input_container {
  display: flex;
  width: 100%;
  margin-bottom: 8vh;
}

.form .input_que {
  margin-left: 2vw;
  width: 100%;
}

.input_name,
.contact-email,
.company,
.contact-phone,
textarea {
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  font-size: 18px;
  margin-block: 2vh;
  padding: 10px 0;
  width: 100%;
  color: #000;
}

.input_name:focus,
.contact-email:focus,
.company:focus,
.contact-phone:focus,
textarea:focus {
  outline: none;
  border-bottom: 2px solid #000;
}

.input_name::placeholder,
.contact-email::placeholder,
.company::placeholder,
.contact-phone::placeholder,
textarea::placeholder {
  color: #bbb;
  font-weight: 300;
}

.form_que {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.send {
  margin-left: 3vw;
  color: #fff;
  background: #222;
  padding: 20px 0;
  font-size: 20px;
  border-radius: 100px;
  width: calc(100% - 3vw);
  border: 1px solid #222;
  cursor: pointer;
  transition: all 0.3s ease;
}

.send:hover {
  background: #000;
}

.optional {
  color: #666;
  font-size: 16px;
  text-transform: capitalize;
}

.form_index {
  color: #666;
  font-weight: 600;
}

@media screen and (max-width: 800px) {
  .input_container {
    width: 100%;
  }

  .tagline {
    font-size: 16px;
  }

  .brief_us {
    font-size: 6vw;
  }
}
