.checkoutBtn,
.productPageBtn {
  text-decoration: none;
  text-transform: uppercase;
}
.checkoutBtn,
.trash {
  transition: 0.3s;
  cursor: pointer;
}
.appreciate,
.beforeCheckout,
.cartemptyText,
.checkoutBtn,
.productPageBtn {
  text-transform: uppercase;
}
.cartContainer {
  background: #000;
  padding-bottom: 5vh;
  min-height: 100vh;
}
.cartEmpty {
  font-size: 5vmax;
  font-weight: 700;
  text-align: center;
}
.gotoProducts {
  width: 100%;
  margin-block: 25px;
}
.productPageBtn {
  border-radius: 50px;
  padding: 20px 30px;
  border: 1px solid #fff;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s;
}
.cartTitle {
  justify-content: space-between;
  width: 100%;
  padding-block: 1vw;
}
.cartHeadWrapper,
.cartQuantityWrapper {
  justify-content: flex-start;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5;
  color: #737373;
}
.cartHeadWrapper {
  width: 60%;
}
.cartQuantityWrapper {
  width: 40%;
}
.checkoutBtn:hover,
.productPageBtn:hover {
  background: #fff;
  color: #000;
}
.marqueeContainer {
  position: relative;
  border-top: 1px solid #fff;
  padding-block: 1rem;
  overflow: hidden;
}
.cartemptyText {
  margin-right: 10px;
  font-size: 3rem;
}
.checkoutBtn {
  color: #fff;
  width: 100%;
  border: 1px solid #fff;
  padding: 20px 30px;
  border-radius: 100px;
  text-align: center;
  margin-top: 5vh;
  font-weight: 800;
  background: 0 0;
  font-size: 18px;
}
.CouponCode {
  display: flex;
  flex-direction: column;
}
.ProductsAdded {
  width: 100%;
  justify-content: flex-end;
  margin-top: 5vh;
}
.total {
  color: #aaa;
  font-weight: 600;
  font-size: 20px;
}
.beforeCheckout {
  width: 50%;
}
.delivery,
.subtotal {
  width: 100%;
  justify-content: space-between;
  margin-bottom: 15px;
}
.deliveryTxt,
.subtotalTxt {
  font-weight: 700;
  font-size: 14px;
  color: #5d5d5d;
}
.later,
.subamount {
  font-size: 14px;
  letter-spacing: 0;
  font-weight: 900;
}
.subamount {
  font-size: 20px;
}
.trash {
  font-size: 18px;
}
.trash:hover {
  color: red;
}
.ThanksMsg {
  width: 100%;
  min-height: 35vh;
  color: #fff;
  padding-top: 10vh;
  display: flex;
  align-items: flex-start;
}
.appreciate {
  width: 75%;
  font-size: 5vw;
  line-height: 1;
}
@keyframes cartmarquee {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}
@keyframes emptymarquee {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
.productAddedWrapper {
  width: 100%;
  justify-content: flex-end;
}
.appreciate-N {
  font-size: 3vmax;
}
@media screen and (max-width: 600px) {
  .appreciate,
  .beforeCheckout {
    width: 100%;
  }
  .later,
  .subamount {
    text-align: right;
  }
  .cartPrice,
  .later,
  .productName {
    font-size: 14px;
  }
  .cartPrice-remove {
    flex-direction: column-reverse;
  }
  .cartProductImg {
    display: none;
  }
  .cProduct,
  .cartHeadWrapper {
    width: 45%;
  }
  .cartPrice-remove,
  .cartQuantityWrapper,
  .counter {
    width: 27.5%;
  }
}
