.productimagesWrapper {
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
  position: relative;
}
.gobackButton {
  background: transparent;
  border-radius: 100px;
  height: 40px;
  width: 40px;
  position: fixed;
  border: 1px solid #000;
  font-size: 24px;
  cursor: pointer;
  top: 20px;
  right: 20px;
  z-index: 1;
}

.carouselWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftArrow {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: none;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
}

.rightArrow {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border: none;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
}

.image {
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
}
.react-transform-wrapper {
  position: relative;
}
