.productHero {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-inline: 2.5vw;
  /* padding-top: 12rem; */
}

.productLogo {
  position: fixed;
  width: 60px;
  height: 60px;
  top: 15px;
  left: 2.6vw;
  z-index: 1000;
}
.productLogo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.productHeading {
  font-size: 4vw;
  font-weight: 400;
  line-height: 0.8;
  text-transform: uppercase;
}

.good,
.things {
  display: flex;
  font-size: 12vw;
  text-align: start;
  font-weight: bolder;
}

.smile {
  width: 9vw;
}

.productIntroDesc {
  padding-left: 10vw;
  text-align: left;
}
.filterBox {
  background: #eee;
  margin-inline: 1.5vw;
  margin-block-start: 50px;
  border-radius: 10px;
  min-height: 150px;
  width: 50%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding-bottom: 15px;
}
.filter_FHETQW {
  display: flex;
  justify-content: center;
  font-family: "Aperu", sans-serif;
  font-weight: 600;
  padding: 15px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 16px;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: center;
}

.priceRange-Text {
  font-weight: 500;
}

.priceRange {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  padding-right: 40px;
}

.filters > fieldset {
  border: none;
  margin-top: 6px;
  font-weight: 500;
  border-left: 1px solid #ccc;
  width: 40%;
  padding-left: 40px;
}
.allProductWrapper {
  background: #222;
  /* padding-block: 5vw; */
}
.products_container {
  padding-block: 5vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.paginationBox {
  display: flex;
  width: 100vw;
  justify-content: center;
  background: #222;
  padding-block: 5vh;
}

.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  list-style: none;
}

.page-item {
  transition: all 0.3s ease;
  cursor: pointer;
  border: 1px solid #fff;
  padding: 1vmax 1.5vmax;
}

.page-link {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
  font-weight: 500;
  font-family: "Apercu", sans-serif;
}
.rating-filter,
.priceRange-Text {
  text-align: center;
}
.pageItemActive {
  background: #fff;
}
.page-item:hover {
  background: #fff;
}
.page-item:hover .page-link {
  color: #000;
}
.pageLinkActive {
  color: #000;
}

.searchBox {
  width: 100%;
  display: flex;
  padding-inline: 1.6vw;
  justify-content: flex-end;
}
.search-container {
  width: 300px;
  height: 40px;
  overflow: hidden;
  position: relative;
}
.search-container input[type="text"] {
  height: 100%;
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 100px;
  border: none;
}
.search-container input[type="text"]:focus {
  outline: none;
}
.search-container .search-icon {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 50px;
  padding: 10px;
  color: #666;
}
.search-container input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  height: 100%;
  z-index: 1;
  width: 50px;
  opacity: 0;
}
.filterBox-container {
  width: 100%;
}
@media screen and (max-width: 850px) {
  .productHero {
    flex-wrap: wrap;
    margin-top: 0;
  }
  .filters {
    flex-direction: column;
  }
  .filterBox {
    width: 90%;
  }

  .productHeading {
    width: 100%;
  }

  .productIntroDesc {
    margin-top: 5vw;
    padding-left: 0;
  }
  .priceRange,
  .filters > fieldset {
    width: 80%;
  }
  .priceRange {
    font-size: 12px;
    padding-right: 0;
  }
  .filters > fieldset {
    font-size: 12px;
    border-left: none;
    padding-left: 0;
  }
  .page-item {
    margin-inline: 0;
  }
  .productLogo {
    left: 1vw;
  }
  .search-container {
    width: 100%;
  }
}
