.menuClose,
.menuOpen {
  width: 100%;
  display: flex;
  top: 0;
}
.menu-socials h1,
.menuLinks,
.socialLinks {
  text-transform: uppercase;
}
.menu,
.sizeBtn {
  cursor: pointer;
}
.menuOpen {
  height: 102vh;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2.5vw;
  position: fixed;
  z-index: 9999;
  transition: 0.5s;
  background: #000;
  overflow: hidden;
}
.menuClose {
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2.6vw;
  transition: 0.3s;
  position: sticky;
  z-index: 99;
}
.logoWrapper {
  transition: 1s;
  position: relative;
  overflow: hidden;
  z-index: 9;
}
.logoOpen,
.menuFixed {
  position: fixed;
  top: 2vh;
}
.logo {
  animation: 0.7s fadeUp;
  margin-top: 10px;
  mix-blend-mode: color-burn;
}
.logoOpen {
  height: auto;
  width: 60px;
}
.menuLogo,
.shop,
.shopLink,
.vanish {
  display: none;
}
.Fixed,
.menuFixed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 45px;
  border-radius: 50Q;
  padding: 0 15px;
  background: #fff;
  border: 1px solid #d3d3d3;
}
.menuFixed {
  right: 2.5vw;
}
.account,
.cart,
.menuAccount,
.menuCart {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
}
.account,
.menuAccount {
  height: 40px;
  margin: 20px 0 0 5px;
}
.cart,
.menuCart {
  color: #000;
}
.cartLink {
  height: 100%;
  position: relative;
}
.addedToCart,
.menu-socials,
.menuLinks,
.menuSearchBar {
  position: absolute;
}
.addedToCart {
  height: 15px;
  width: 15px;
  background: #000;
  top: 3px;
  right: 3px;
  border-radius: 50px;
  font-size: 10px;
  display: grid;
  place-items: center;
}
.header,
.menu,
.menuLinks,
.navBarRight,
.socialLinks {
  display: flex;
}
.cart:hover,
.menuCart:hover {
  transform: rotate(-15deg);
}
.menu {
  align-items: center;
  height: 100%;
  width: auto;
  justify-content: center;
  flex-direction: column;
}
.menu .active,
.menu .inactive {
  height: 1px;
  width: 20px;
  margin-block: 1.5px;
  background: #000;
}
.menu:hover .inactive:first-child,
.menu:hover .inactive:nth-child(2) {
  margin-block: 2px;
  transition: 0.5s;
}
.menu .active:first-child {
  transform: rotate(45deg);
  margin: 0;
}
.menu .active:nth-child(2) {
  transform: rotate(-45deg);
  margin: 0;
}
.menuClose > .links > .anchor {
  color: #fff;
}
.menuLinks {
  height: fit-content;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  right: 2vw;
  bottom: 5vh;
  font-family: Poppins, serif;
  font-weight: 400;
}
.menuLinksActive {
  font-size: 3vw;
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
  line-height: 1;
}
.menuLinksActive:hover {
  color: #ff9500;
  transition: 0.3s;
}
.links,
.linksActive {
  font-size: 4.5vw;
  animation: 0.7s ease-in-out 0.1s fadeUp;
}
.menuSearchBar,
.searchBar {
  margin-right: 10px;
  background: #fff;
  border: 1px solid #d3d3d3;
  height: 45px;
  width: 45px;
  border-radius: 50Q;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cartBtn,
.sizeBtn {
  background: 0 0;
  border: none;
  outline: 0;
}
.menuSocialActive a {
  font-size: 20px;
}
.menuSearchBar {
  top: 15px;
  right: 235px;
  color: #000;
}
.searchBar {
  font-size: 18px;
  color: #000;
}
.navBarRight {
  align-items: center;
  justify-content: center;
}
.header {
  width: 100%;
  height: 80px;
  margin-bottom: 1vw;
  justify-content: flex-start;
  align-items: center;
}
.logo {
  height: auto;
  width: 60px;
}
.menu-socials {
  bottom: 2.5vw;
  left: 2.5vw;
}
.menu-socials h1 {
  color: #ffffffa4;
  margin-bottom: 10px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 800;
}
.sizeBtn,
.socialLinks a {
  font-family: Poppins, sans-serif;
}
.socialLinks {
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  font-weight: 700;
  letter-spacing: 1px;
}
.socialLinks a {
  text-decoration: none;
  color: #fff;
  line-height: 1.3;
  transition: 0.3s;
  font-size: 25px;
}
.socialLinks a:hover {
  text-decoration: underline;
}
.socialLinks a:first-child:hover {
  color: #ff3589;
}
.socialLinks a:nth-child(2):hover {
  color: #4169e1;
}
.socialLinks a:nth-child(3):hover {
  color: #00b900;
}
.socialLinks a:nth-child(4):hover {
  color: #295eff;
}
.socialLinks a:nth-child(5):hover {
  color: red;
}
.menuLinksActive p {
  font-size: 60px;
}
@media (min-width: 410px) and (max-width: 768px) {
  .menuLinksActive p {
    font-size: 7vw;
  }
}
@media screen and (max-width: 555px) {
  .Fixed,
  .searchBar {
    border: 1px solid #d3d3d3;
  }
  .navBarRight {
    position: fixed;
    bottom: 3vh;
    left: 6vw;
    flex-direction: row-reverse;
    gap: 10px;
    width: 90vw;
  }
  .account,
  .menuAccount {
    margin: 20px 0 0 20px;
  }
  .menuClose {
    height: 10vh;
  }
  .links .anchor,
  .links .menuAnchor {
    display: none;
  }
  .logo {
    margin-left: 0;
    height: auto;
    width: 60px;
  }
  .Fixed {
    margin: 5px 0 0;
    top: 10px;
    right: 10px;
    width: 78vw;
  }
  .shopLink {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    position: relative;
  }
  .shop {
    display: block;
    height: 25px;
    width: 25px;
    margin-right: 10px;
  }
  .menuFixed {
    top: 20px;
    right: 20px;
  }
  .menuLinks {
    right: 5vw;
    top: 25vh;
  }
  .links,
  .linksActive {
    font-size: 30px;
  }
  .menuLinksActive p {
    font-size: 9vw;
    line-height: 1;
  }
  .menuSearchBar {
    position: fixed;
    top: 70px;
    right: 10px;
    border-radius: 100px;
  }
  .menu-socials {
    left: 5vw;
    right: auto;
    bottom: 100px;
  }
  .menu-socials h1 {
    font-size: 20px;
  }
  .socialLinks {
    align-items: flex-start;
  }
}
@media (min-width: 575px) and (max-width: 800px) {
  .menu-socials {
    right: auto;
    left: 2.5vw;
    top: 15vh;
    bottom: auto;
  }
  .socialLinks {
    align-items: flex-start;
  }
}
