@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

#hero-wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: #fff;
  margin-top: -12vh;
}

.hero {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heroText {
  font-family: "Staatliches", serif;
}
.hero h1,
.hero h2 {
  color: #0f0f0f;
  text-transform: uppercase;
  line-height: 1;
}

.hero h1 {
  z-index: 2;
  font-size: 10vw;
}

.hero h2 {
  z-index: 2;
  font-size: 12vw;
}

#hero-canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.hero-buttons {
  position: absolute;
  bottom: 15px;
  z-index: 2;
  right: 15px;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 0;
}

.hero-buttons button {
  background: #000;
  border-radius: 100px;
  padding: 15px 18px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.colorIcon {
  font-size: 18px;
  color: #fff;
}
.hero-buttons button:hover {
  background: #fff;
  border: 1px solid #000;
}
.hero-buttons button:hover .colorIcon {
  color: #000;
}
@media screen and (max-width: 768px) {
  .hero h1 {
    font-size: 11vw;
  }
  .hero h2 {
    font-size: 12.7vw;
  }
}
