.updatePasswordContainer {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-size: 80%;
  margin-top: 10vh;
}
.updatePasswordBox {
  width: 70%;
  height: 80%;
  background: #fff;
  border-radius: 10px;
  position: fixed;
  overflow: hidden;
  box-sizing: border-box;
}
.updatePasswordForm {
  margin-top: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.updatePasswordForm {
  position: absolute;
  width: 90%;
  padding-inline: 2vw;
}
.updateHead {
  font-size: 25px;
  text-transform: uppercase;
}
.password {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.passwordText {
  text-transform: uppercase;
  font-family: "Poppins";
  color: #000;
  letter-spacing: 1px;
  font-weight: 700;
}
.updatePasswordPassword {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 10px;
}

.updatePasswordBtn {
  width: 100%;
  margin-top: 20px;
  padding-block: 20px;
  font-size: 18px;
  font-weight: 300;
  border: none;
  border-radius: 8px;
  background: #222;
  font-family: "Apercu";
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.updatePasswordBtn:hover {
  background: #333;
}

@media screen and (max-width: 700px) {
  .updatePasswordBox {
    height: 100vh;
    width: 100%;
    margin-top: 0;
    border-radius: 20px 20px 0 0;
  }
}
